.loader {
    margin-bottom: 50px;
}

.wrapper {
    position: absolute;
    background-color: black;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.3;
    display: flex;
    align-items: center;
    justify-content: center;
}
