@import "../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import-normalize;
@import "./vars.scss";

body {
  margin: 0;
  font-family: "Playfair Display", serif;
  background: var(--background-color);
  color: var(--color-melanie);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

ol {
  margin-left: 0;
  padding: 10px;
}

.app {
  padding: 15px 50px;
  min-height: 100vh;
  &__buttons {
    margin-bottom: 25px;
  }
}

.button-reset {
  padding: 5px 15px;
  margin: 0;
  background: none;
  border: 1px solid var(--color-shark);
  border-radius: 8px;
  outline: none;
  cursor: pointer;
}

.button-reset:hover {
  opacity: 0.6;
}

.remove-button,
.add-button {
  margin-right: 25px;
}

.remove-button,
.add-button,
.addition-button {
  margin-bottom: 15px;
  color: var(--color-melanie);
}

.add-button {
  background-color: rgb(10, 51, 10);
  border-color: rgb(10, 51, 10);
}

.remove-button {
  background-color: rgb(109, 11, 35);
  border-color: rgb(109, 11, 35);
}
