:root {
    --base-color-pink: #ce508b;
    --color-tapestry: #9b5475;
    --color-disco: #861a4d;
    --color-carissma: #e77daf;
    --color-kobi: #e799be;
    --color-melanie: #f1e4ea;
    --color-shark: #212529;
    --background-color: #164467;
    --background-color-light: #e2c1c0;
    --text-color: #93413e;
    --text-color-light: #d0a670;
}
